<h3><%= @user.name %></h3>

<h5>E-mail</h5>
<p><%= @user.email %></p>
<h5>CPF</h5>
<p><%= @user.cpf %></p>

<div class="button_group">
    <%= link_to 'Editar', edit_user_path(@user), class: "button btn_edit" %>    
</div>