/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Roboto');

 body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}

div.filter {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div.transaction {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div.transaction#total {
    margin: 30px;
}

div.transaction.details {
    width: 260px;
    margin: 20px auto 0px;
}

div.transaction h3, div.transaction p {
    width: 150px;;
    text-align: center;
    border: 1px solid #000;
    padding: 10px;
    margin: 0px;
}

div.button_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.button {
    color:#08233e;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Roboto';
    padding:14px;
    background: #ffcc00;background-color:rgba(255,204,0,1);
    border:1px solid #ffcc00;
    -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
    border-bottom:1px solid #9f9f9f;
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    cursor:pointer;
}

.button:hover {
    background-color:rgba(255,204,0,0.8);
}

a.button {
    margin: 20px;
}

.btn_edit {
    color: #FFF;
    background-color: rgba(49, 160, 15, 1);
}

.btn_edit:hover {
    background-color:rgba(49, 160, 15, 0.8);
}

.btn_delete {
    color: #FFF;
    background-color: rgba(255, 51, 0, 1);
}

.btn_delete:hover {
    background-color:rgba(255, 51, 0, 0.8);
}

.btn_back {
    color: #FFF;
    background-color: rgba(0, 110, 190, 1);
}

.btn_back:hover {
    background-color: rgba(0, 110, 190, 0.8);
}

form.new_transaction, form.edit_transaction {
    margin: 30px auto;
    width: 290px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

form.new_user, form.edit_user {
    margin: 30px auto;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

form.new_transaction label, form.new_transaction input, form.new_transaction select,
form.edit_transaction label, form.edit_transaction input, form.edit_transaction select,
form.new_user label, form.new_user input, form.new_user select,
form.edit_user label, form.edit_user input, form.edit_user select {
    margin-bottom: 10px;
    margin-right: 10px;
}

form.new_transaction input.btn_submit, form.edit_transaction input.btn_submit,
form.new_transaction .btn_cancel, form.edit_transaction .btn_cancel,
form.new_user input.btn_submit, form.edit_user input.btn_submit,
form.new_user .btn_cancel, form.edit_user .btn_cancel {
    margin: 0;
    margin-top: 10px
}

.btn_submit {
    color: #FFF;
    background-color: rgba(49, 160, 15, 1);
}

.btn_submit:hover {
    background-color:rgba(49, 160, 15, 0.8);
}

.btn_cancel {
    color: #FFF;
    background-color: rgba(255, 51, 0, 1);
}

.btn_cancel:hover {
    background-color: rgba(255, 51, 0, 0.8);
}

div.alert {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 51, 0, 0.4);
    border-radius: 5px;
}